.button {
	border:1px solid #c0c0c0;
	background:#d0d0d0;
	padding:0.2rem;
	padding-left:1rem;
	padding-right:1rem;
	margin:0.2rem;
	border-radius:0.25rem;
	box-shadow: rgba(0,0,0,0.2) 0.1rem 0.1rem 0.1rem, inset rgba(255,255,255,0.7) 0 0 0.5rem;
	color:#808080;
	font-weight:bold;
	font-size:0.9rem;
	cursor:pointer;
	display:inline-block;
}

.button[accessKey='j'], .button[accessKey='k'], .button[accessKey='l'], .button[accessKey='m'], .button[accessKey='n'] {
	background-repeat:no-repeat;
	background-position:0.5rem center;
	background-size:1rem 1rem;
	padding-left:2rem;
}

.button[accessKey='j'] {
	background-image:url('../images/bullet-button-red.png');
}

.button[accessKey='k'] {
	background-image:url('../images/bullet-button-green.png');
}

.button[accessKey='l'] {
	background-image:url('../images/bullet-button-yellow.png');
}

.button[accessKey='m'] {
	background-image:url('../images/bullet-button-blue.png');
}

.button[accessKey='n'] {
	background-image:url('../images/bullet-button-white.png');
}


.button_tiny {
	border:1px solid #c0c0c0;
	background:#d0d0d0;
	padding:0.2rem;
	padding-left:1rem;
	padding-right:1rem;
	margin:0.2rem;
	border-radius:0.25rem;
	box-shadow: rgba(0,0,0,0.2) 0.1rem 0.1rem 0.1rem, inset rgba(255,255,255,0.7) 0 0 0.5rem;
	color:#808080;
	font-weight:bold;
	font-size:0.9rem;
	cursor:pointer;
	display:inline-block;
	font-size:0.5rem;
}

#button_playerunban {
	background: rgb(208, 255, 208) none repeat scroll 0% 0%;
}

#button_playerban {
	background: rgb(255, 208, 208) none repeat scroll 0% 0%;
}
#button_playerdelete, #button_clearall, #button_unlinkRFIDcode, #button_simulate {
	color:#202020;
	background: rgb(255, 100, 100) none repeat scroll 0% 0%;
}
#button_rfidlink {
	color:#202020;
	background: rgb(200,255,200) none repeat scroll 0% 0%;
}
#button_rfidunlink {
	color:#202020;
	background: rgb(255,200,200) none repeat scroll 0% 0%;
}
#button_audiotest_start, #button_audiotest_stop, #button_audiotest_playlist {
	width:15rem;
}

