@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoCondensed-Bold'), url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoMono-Light'), url(../fonts/RobotoMono-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoMono-Regular'), url(../fonts/RobotoMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoMono-Bold'), url(../fonts/RobotoMono-Bold.ttf) format('truetype');
}


* {
	padding:0;
	border:0;
	margin:0;
	font-family:Roboto,sans-serif,helvetica,Arial;
}
html {
	font-size:220%;
}
body {
	background-color:#ffffff;
	color:#000000;
}

a:link { color:black; text-decoration:none; }
a:visited { color:black; text-decoration:none; }
a:focus { color:black; text-decoration:underline; }
a:hover { color:black; text-decoration:underline; }
a:active { color:black; text-decoration:underline; }

ul, ol {
	margin:0px;
}

table {
	font-size:0.75rem;
}
td {
	padding:0.1rem;
	padding-left:0.1rem;
	padding-right:0.1rem;
}

.tr-head, .td-head, .tr-foot, .td-foot {
	background:#000000;
	color:#ffffff;
	font-weight:bold;
}
.tr-col-separator {
	background:#ffffff;
	color:#00ff00;
}
.tr-subhead {
	background:#404040;
	color:#ffffff;
}
.tr-odd {
	background:#f0f0f0;
}
.tr-even {
	background:#e0e0e0;
}

.table-round {
	border:1px solid black;
	//font-size:1.5rem;
}

.table-round td {
	padding:0.2rem;
	padding-left:0.4rem;
	padding-right:0.4rem;
}

.table-round-col-round {
	text-align:center;
}
.table-round-col-court {
	text-align:center;
}
.table-round-col-class {
	text-align:center;
}
.table-round-col-time {
	text-align:center;
}
.table-round-col-left {
	text-align:center;
}
.table-round-col-vs {
	text-align:center;
}
.table-round-col-right {
	text-align:center;
}
.table-round-col-partner {
	width:200px;
	text-align:center;
}
.table-round-col-count {
	width:200px;
	text-align:center;
}
.table-player-admin {
	//font-size:2.0rem;
}


.table-player-admin td, .table-rfid-admin td {
	nowrap;
}
.table-round-admin {
}
.table-round-admin td {
	padding:0.5rem;
	text-align:center;
}
.table-player-board {
	//font-size:1.5rem;
}
.table-player-board td {
	padding:0.2rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
}

.table-player-statistics {
}
.table-player-statistics td {
	padding:0.1rem;
	padding-left:0.3rem;
	padding-right:0.3rem;
}

.table-pause {
	border:0px solid black;
	//font-size:1.5rem;
}

.table-stats {
	border:1px solid black;
}

.table-stats-col-title {
	width:80px;
	text-align:center;
}
.table-stats-col-number {
	width:80px;
	text-align:center;
}

.table-rfid-admin {
	font-weight:bold;
	font-size:2rem;
}

.separator {
	padding:0.2rem;
	border:0;
	margin:0;
}

.separator_wide {
	padding:1.0rem;
}


.admin-panel, .admin-panel input, .admin-panel select, .admin-panel button {
	font-size:0.5rem;
}

.adminfooter {
	position:absolute;
	left:0;
	right:0;
	bottom:0;

	text-align:center;
	padding:0.25rem;
	border:0;
	background:#c0c0c0;
}

.message {
	display: inline-block;
	margin-top:8px;
	margin-bottom:8px;
	padding:8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:#f0f0f0;
	box-shadow:1px 1px 2px #a0a0a0;
}
.message_ok {
	background:#c0ffc0;
	border:2px solid #00a000;
}
.message_info {
	background:#c0c0ff;
	border:2px solid #0000a0;
}
.message_fail {
	background:#ffc0c0;
	border:2px solid #a00000;
}

.bigtext {
	font-size:1.5rem;
	font-weight:bold;
//	color:#303030;
}

.biggertext {
	font-size:2rem;
	font-weight:bold;
//	color:#303030;
}

.biggesttext {
	font-size:4rem;
	font-weight:bold;
//	color:#303030;
}

.bigtextwhite {
	font-weight:bold;
	color:#ffffff;
}
.player_male {
	font-weight:bold;
	color:#21648f;
}
.player_female {
	font-weight:bold;
	color:#e23828;
}
.player_active {
	font-weight:normal;
}
.player_passive {
	text-decoration:line-through;
	font-weight:normal;
	color:#c0c0c0;
}
.player_highlight {
	font-weight:bold;
}
.player_banned {
	background:yellow;
}

.header {
	position:absolute;
	height:160px;
	top:0;
	left:0;
	right:0;
	background: #f8f8f8;
}

.logo {
	width:200px;
	height:160px;
	cursor:pointer;
}

.banner {
	position:absolute;
	bottom:0;
	top:0;
	right:200px;
	left:200px;
	text-align:center;
	padding-top:0.5rem;
	font-size:2rem;
	vertical-align:middle;
	cursor:pointer;
	//text-shadow: 0 0 10px #f0f0f0;
	//border:1px solid red;
	//font-weight:bold;
	//color:#404040;

//background: #f6e6b4; /* Old browsers */
//background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
//background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

.round {
	position:absolute;
	bottom:0;
	right:0;
	width:200px;
	height:160px;
	color:#f0f0f0;
	text-align:center;
	font-weight:bold;
	font-size:4rem;
	line-height:4rem;
	cursor:pointer;
}
.round_started {
	background:#c00000;
}
.round_playing {
	background:#ff7f00;
}
.round_stopped {
	background:#2d882d;
}

.executiontime {
	top:0;
	left:0;
	height:1rem;
	background-color:#ffffff;
	color:#000000;
	opacity:0.5;
	z-index:5;
	font-size:0.5rem;
}

.dbupdate {
	position:absolute;
	top:150px;
	width:50%;
	height:20px;
	background-color:#404040;
}

.dbupdateframe {
	height:10px;
	border:0px solid green;
	color:#606060;
	width:100%;
	height:10px;
}

.page {
	position:absolute;
	top:160px;
	left:0;
	z-index:3;
	width:100%;
	height:100%-160px;
	text-align:center;
}

.pagetitle {
	top:0;
	height:1rem;
	left:0;
	right:0;
	text-align:center;
	color:#a0a0a0;
	font-weight:bold;
	font-size:0.5rem;
	line-height:1.0rem;
	margin-bottom:1rem;
	background-color:#f0f0f0;
}
.pagetitleleft {
	position:absolute;
	left:1rem;
	width:33%;
	text-align:left;
}
.pagetitlecenter {
	position:absolute;
	left:33%;
	width:33%;
	text-align:center;
	color:#202020;
}
.pagetitleright {
	position:absolute;
	width:33%;
	right:1rem;
	text-align:right;
	color:#808080;
}

.stopwatch {
	position:absolute;
	top:0;
	left:200px;
	right:200px;
	height:160px;
	z-index:20;
	visibility:hidden;
	background-color:#ff0000;
	text-align:center;
	color:#a0a0a0;
	font-weight:bold;
	font-family:RobotoMono,courier,monospace;
	font-size:4rem;
	line-height:4rem;
}

.audio {
	//position:absolute;
	top:0;
	left:0;
	height:30px;
	width:100px;
	//right:0px;
	//height:10px;
	//border:1px solid green;
	//background:#f0f0f0;
}

.intro {
	border:2px solid #808080;
	width:80%;
	padding:20px;
	text-align:left;
	line-height:1.5rem;
}
.intro ul {
	padding-left:1rem;
}

.intro-title {
	font-weight:bold;
	padding-left:1rem;
	padding-right:1rem;
}

.fadeoutbox {
	background: #ffffff;
	font-size:1.5rem;
}

.fadeout {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	height: 300px;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
	background-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,1));
	background-repeat: repeat-x;
}
