input {
	font-size:1rem;
	cursor:pointer;
	border:1px solid #c0c0c0;
	background:#d0d0d0;
	padding:0.25rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
	margin:0.25rem;
	border-radius:0.25rem;
	box-shadow: rgba(0,0,0,0.2) 0.1rem 0.1rem 0.1rem, inset rgba(255,255,255,0.7) 0 0 0.5rem;
	color:#606060;
}

#filter {
	width:20rem;
}

span.deleteicon {
	position: relative;
}
span.deleteicon span {
	position: absolute;
	display: block;
	top:0;
	right: 1rem;
	width: 1rem;
	height: 1rem;
	background: url('/images/dialog-close-2.png');
	cursor: pointer;
}
span.deleteicon input {
	padding-right: 16px;
	box-sizing: border-box;
}

select {
	font-size:1rem;
	cursor:pointer;
	border:1px solid #c0c0c0;
	background:#d0d0d0;
	padding:0.25rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
	margin:0.25rem;
	border-radius:0.25rem;
	box-shadow: rgba(0,0,0,0.2) 0.1rem 0.1rem 0.1rem, inset rgba(255,255,255,0.7) 0 0 0.5rem;
	color:#606060;
}
